

.container{
	justify-content: space-evenly;
	text-align: center;
	display: flex;
	margin: 0 auto;
	padding: 0px;
	border: 20px;
	padding-left:0px ;
	margin-left: 0px;
	content: unset;
}

.thanh22{
	display: flex;
	margin: 0 auto;
	padding: 0px;
	border: 20px;
	justify-content: space-evenly;
}
li{
	display: inline-block;
}


.noidung{
	flex: 3;
	padding: 20px;
	box-sizing: border-box;
}

